@keyframes resizeToggledMobile {
    from {
        transform: translateY(25px) translateX(-35px) rotate(90deg) scaleX(1);
        visibility:visible;
    }
    to {
        transform: translateY(25px) translateX(-35px) rotate(90deg) scaleX(0);
        visibility:hidden;

    }
}

@keyframes resizeToggled {
    from {
        transform: scaleX(1);
        visibility:visible;
    }
    to {
        transform: scaleX(0);
        visibility:hidden;

    }
}

@keyframes appearToggled {
    0% {
        opacity: 0;
        visibility:visible;
    }
    60% {
        opacity: 0;
        visibility:visible;
    }
    100% {
        opacity: 1;
        visibility:hidden;
    }
}

@keyframes backdropGray {
    0% {
        visibility: hidden;
        opacity: 0;
        backdrop-filter: none;
    }
    20% {
        visibility: hidden;
        opacity: 0;
        backdrop-filter:none

    }
    100% {
        visibility: visible;
        opacity: 1;
        backdrop-filter: grayscale(1)
    }
}

.menu-button{
    position:fixed;
    z-index: 12;
    top:calc(50vh - 20px);
    right:2vw;
    transition: top 500ms ease;
    width:30px;
    box-sizing: unset;
    padding:20px;
    cursor:pointer;
    .untoggled{
        position:relative;
        display:flex;
        align-items: center;
        justify-content: flex-end;
        transition:all 1000ms ease;
        transition-delay: 1000ms;
        hr{
            transition:all 200ms ease;
            margin:0 4px;   
            border:0;
            width:1px;
            height:30px;
            background-color:#fff;
        }
        hr:first-child{
            transition:all 200ms ease;
        }
        p{
            position:absolute;
            right:-15px;
            display:block;
            opacity:0;
            transform: rotate(-90deg) translateX(15px);
            transform-origin: center;
            transition:all 200ms ease;
            margin:0;
            padding:0;
            font-size: 10px;
            font-family: 'Graphik', Arial, Helvetica, sans-serif;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #fff;
        }
    }
    .toggled{
        position:absolute;
        top:27.5px;
        transition:all 400ms ease;
        width:50px;
        hr{
            visibility:hidden;
            transform-origin: 0% 50%;
            animation: resizeToggled 400ms ease;
            border:0;
            height:1px;
            background-color:#fff;
        }
    }
}
.menu-button:hover{
    .untoggled{
        position:relative;
        display:flex;
        align-items: center;
        hr{
            border:0;
        }
        hr:first-child{
            transform: scaleY(0);
        }
        hr:last-child{
            transform: translateY(-30px);
            height:50px;
        }
        p{
            position:absolute;
            transform: rotate(-90deg) translateX(-25px);
            transform-origin: center;
            opacity:1;
        }
    }
}
.menu-active{
    .untoggled{
        position:relative;
        display:flex;
        align-items: center;
        transform: translateX(150px);
        transition-delay: 200ms;
        hr{
            border:0;
        }
        hr:first-child{
            transform: scaleY(0);
        }
        hr:last-child{
            opacity: 0;
            transform: translateY(-30px);
            height:50px;
            transition-delay: 400ms;


        }
        p{
            position:absolute;
            opacity:0;
            transform: rotate(-90deg) translateX(-25px);
            transform-origin: center;
        }
    }
    .toggled{
        hr{
            visibility:visible;
            animation: appearToggled 1500ms ease-in-out;
        }
    }
}
.grayScale{
    position:fixed;
    z-index: 12;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity: 0;
    visibility: hidden;
}
.overlay{
    position:fixed;
    z-index: 12;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display:flex;
    justify-content: center;
    align-items: center;
    opacity:0;
    visibility: hidden;
    transition:opacity 1000ms ease, visibility 1000ms ease;
    transition-delay:1000ms;
    background-color:#000;
    h1, h3, p, sup{
        font-family: 'Graphik', Arial, Helvetica, sans-serif;
        color:#fff;
    }
    h1, h3{
        opacity: .8;
    }
    h3{
        margin-top:0;
        font-size: 16px;
        font-weight: 400;
    }
    p{
        opacity:.6;
        font-size:12px;
        line-height: 2;
    }
    sup{
        position: relative;
        top: -5px;
        opacity: .5;
        font-size: 30%;
        font-weight: 400;
    }
    .main{
        margin-right:120px;
        h1{
            opacity:0;
            transform: translateY(30px);
            margin:20px 0;
            font: 200 normal 52px "Graphik";
        }
        @for $i from 1 through 5{
            $value: 1000ms - (200ms * $i);
            h1:nth-child(#{$i}){
                transition:transform 1000ms ease, opacity 1000ms ease;
                transition-delay: $value;
            }
        }
    }
    > div:last-child{
        opacity:0;
        transform: translateY(30px);
        transition:transform 1000ms ease, opacity 1000ms ease;
        width:220px;
        .location{
            p{
                margin-bottom:40px;
            }
        }
        .sec{
            display:flex;
            justify-content: space-between;
            margin-bottom:40px;
            height:100px;
            div{
                display:flex;
                flex-direction: column;
                justify-content: space-around;
                h3{
                    margin:0;
                }
                sup{
                    opacity:0.7;
                    font-size: 60%;
                }
            }
        }
        .social{
            div{
                display:flex;
                p{
                    opacity:.8;
                    margin:0 12px 0 0;
                }
            }
        }
    }
}

.grayScale-active{
    opacity:1;
    visibility: visible;
    animation: backdropGray ease 1000ms; 
    backdrop-filter: grayscale(1);
}

.overlay-active{
    opacity:1;  
    visibility: visible;
    transition:opacity 1000ms ease, visibility 1000ms ease;
    transition-delay: 600ms;
    .main{
        h1{
            opacity:1;
            transform: translateY(0);
        }
        @for $i from 1 through 5{
            $value: 1000ms + (200ms * $i);
            h1:nth-child(#{$i}){
                transition-delay: $value;
            }
        }
    }
    > div:last-child{
        opacity:1;
        transform: translateY(0);
        transition-delay: 1000ms;
        width:220px;
    }
}

@media only screen and (max-width:992px){
    .menu-button{
        top:5.5vh;
        right:3vw;
        transform: rotate(90deg);
        width:20px;
        .toggled{
            hr{
                transform: translateX(-30px) rotate(90deg) scale(1);
                transform-origin: 100% 50%;
                animation: resizeToggledMobile 400ms ease;
            }
        }
    }
    .menu-button:hover, .menu-active{
        .toggled{
            hr{
                transform: translateY(25px) translateX(-35px) rotate(90deg);
                transform-origin: 100% 50%;
            }
        }
    }
    .menu-active{
        .untoggled{
            transform: translateY(-150px);
        }
        .toggled{
            hr{
                animation: appearToggled 1500ms ease-in-out;
            }
        }
    }
    .menu-button:hover{
        .untoggled{
            hr:first-child{
                transform: scaleY(0);
                transform-origin: 100% 0%;
            }
        }
    }
    .overlay{
        flex-direction:column;
        align-items: flex-start;
        .main{
            margin:0 0 0 15%;
            h1{
                margin: 15px 0;
                font-size:40px;
            }
        }
        > div:last-child{
            margin:0 0 0 15%;
            .location, .social{
                display:none;
            }
            .sec{
                flex-direction: column;
                margin-bottom:10px;
                height:auto;
                div{
                    h3{
                        margin:10px 0;
                        font-size: 20px;
                    }
                    sup{
                        top:0;
                    }
                    h3:last-child{
                        display:none;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:992px) and (max-height: 600px) and (orientation:landscape){
    .overlay{
        flex-direction: row;
        align-items: center;
        > div:last-child, .main{
            margin:0;
            height:290px;
        }
        .main{
            margin-right:50px;
            h1{
                margin: 15px 0; 
            }
        }
    }
}