.jblog-container{
    padding: 160px 10vw 120px;
    background-color:#fff;
    div{
        margin:auto;
        max-width: 45vw;
        font-family: 'Graphik', Arial, Helvetica, sans-serif;
    }
}