.mobile-container{
    background-color:#000;
    .desc{
        max-width: 475px;
        margin:auto;
        padding: 100px 0;
        font-family: 'Graphik', Arial, Helvetica, sans-serif;
        color:#fff;
        h3{
            opacity: 0.5;
            font-size: 11px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom:45px;
        }
        p{
            font-size: 20px;
            line-height: 1.8;
            font-weight: 300;
            margin-bottom:15px;
        }
    }
    .imgs{
        display:flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width:65%;
        img{
            // flex: 30vw;
            margin: 1.66%;
            width:30%;
            height:auto;
        }
    //     img:nth-child(3n + 2){
    //         margin-top:50px;
    //     }
    }
}
@media only screen and (max-width: 992px){
    .mobile-container{
        .desc{
            padding: 100px 10vw;
            p{
                font-size:18px;
                line-height: 30px;
            }
        }
        .imgs{
            display:flex;
            flex-wrap: wrap;
            margin: 0 auto;
            width:90%;
            img{
                // flex: 30vw;
                margin: 2.5%;
                width:45%;
                height:auto;
            }
        }
    }
}