.footer-container{
    position:relative;
    overflow: hidden;
    height: 100vh;
    min-height: 650px;
    max-height: 900px;
    .overlay{
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width:100%;
        height: 60%;
        background: linear-gradient(180deg, #000 0%, rgba(0,0,0,0) 100%);
        pointer-events: none;
    }
    img{
        position:absolute;
        top:0;
        right:0;
        bottom: 0;
        left:0;
    }
    .desc{
        position:absolute;
        top:38%;
        padding: 0 0 0 10vw;
        font-family: 'Graphik', Arial, Helvetica, sans-serif;
        color:#fff;
        >h2{
            display: none;
            margin:0 0 60px;
            font: 200 normal 40px "Graphik";
            color: #fff;
        }
        >h1{
            margin:0 0 10vh;
            width:675px;
            cursor:pointer;
            font: 200 normal 80px/80px "Graphik";
            color: #fff;
        }
        >h1::after{
            content:'';
            display:block;
            transition:width 500ms ease;
            margin-top:5px;
            width:0;
            height:5px;
            background: #fff;
        }
        h1:hover::after{
            width:100%;
        }
        .links{
            display:flex;
            h3{
                opacity: .9;
                height: 32px;
                font-weight: 200;
                font-size: inherit;
                color: #fff;
            }
            p{
                opacity:.6;
                font-size:12px;
                line-height: 2;
            }
            sup{
                position: relative;
                top: -5px;
                opacity: .7;
                font-size: 60%;
                font-weight: 400;
            }
            .location{
                margin-right:50px;
                width:180px;
            }
            .nav{
                display:flex;
                div{
                    margin-right:50px;
                }
            }
        }
        .social{
            div{
                display:flex;
                margin-bottom:15px;
                span{
                    opacity:.5;
                    margin-right:2px;
                    font-size:12px;
                }
                p{
                    opacity:.9;
                    margin:0 12px 0 0;
                    font-size:12px;
                }
            }
        }
    }
}
@media only screen and (max-width:992px){
    .footer-container{
        min-height:800px;
        .overlay{
            height: 20%;
        }
        .desc{
            top:10vh;
            >h2{
                display:block
            }
            >h1{
                display:none;
            }
            .links{
                flex-direction: column;
                .location, .nav{
                    margin-bottom:50px;
                }
            }
        }
    }
}