.circle-container{
    position:absolute;
    z-index:3;
    transform:translate(-50%, -50%);
    transition: top 200ms ease, left 200ms ease;
    transition: opacity 300ms ease, visibility 300ms ease;
    border-radius: 50%;
    width:100px;
    height: 100px;
    pointer-events: none;
    p{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        font-family: 'Graphik', Arial, Helvetica, sans-serif;
    }
}