.excard-container{
    display:flex;
    align-items: center;
    width:100vw;
    padding-left:10vw;
    .image{
        width:50vw;
        height:80vh;
        img{
            width:100%;
            height:100%;
            object-fit: cover;
        }
    }
    .desc{
        width: calc(25vw + 400px);
        padding: 0 5vw;
        font-family: 'Graphik', Arial, Helvetica, sans-serif;
        color:#fff;
        h3{
            opacity: .6;
            font-size: 11px;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-weight: 400;
        }
        h2{
            margin: 40px 0;
            font-weight: 200;
            font-size: 42px;
            line-height: 54px;
            max-width: 475px;
        }
        p{
            opacity: .6;
            font-size: 16px;
            line-height: 1.8;
        }
    }
}
@media only screen and (max-width:992px){
    .excard-container{
        flex-direction: column;
        padding-left: 0;
        .image, .desc{
            width:100%
        }
        .image{
            height: 50vh;
        }
        .desc{
            padding: 80px 10vw;
            h2{
                font-size: 28px;
                line-height: 1.4;
            
            }
        }
    }

}