.stories-container{
    background-color:#212028;
    color:#fff;
    font-family: 'Graphik', Arial, Helvetica, sans-serif;
    width:100%;
    padding: 0 10vw 120px;
    h3{
        max-width: 860px;
        font-size: 11px;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 400;
        margin:0 auto 25px;
    }
    p{
        margin-top:50px;
        text-align: center;
        font-size:16px;
    }
}