.aw-video-container{
    position:relative;

    background-color:#212028;
    cursor:pointer;
    div:first-child{
        position:relative;
        transform: translateY(-35%);
        overflow: hidden;
        width: 83%;
        height: 85vh;
        max-height: 700px;
        background-color:#000;
        video{
            width:110%;
            height:110%;
        }
    }
}
@media only screen and (max-width:992px){
    .aw-video-container{
        div:first-child{
            transform: translateY(-15%);
            height: 60vh;
            width:100%;
        }
    }
}