.clist-container{
    padding: 160px 10vw 120px;
    background-color: #000;
    >p{
        margin: 120px 0 0;
        font-family: 'Graphik', Arial, Helvetica, sans-serif;
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 1.8;
        text-align: center;
        color:#fff;
    }
}