.cards-container{
    background-color: #000;
    >div{
        display:flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width:100%;
        max-width: 1280px;
        padding: 0 10vw 280px;
        .wcard-container:nth-child(2n){
            padding-top:40vh;
        }
    }
}
@media only screen and (max-width:922px){
    .cards-container{
        >div{
            .wcard-container, .wcard-container:nth-child(2n){
                padding-top:75px;
            }
        }
    }
}