.wdesc-container{
    width:100%;
    background-color:#000;
    .content{
        margin: 0 auto;
        max-width: 1280px;
        padding:160px 10vw 120px;
        font-family: 'Graphik', Arial, Helvetica, sans-serif;
        color:#fff;
        >div{
            display:flex;
            justify-content: center;
            div:first-child{
                width:  33.3333%;
                max-width: 235px;
                padding: 16px 0;

                p{
                    opacity:.5;
                    font-size: 16px;
                    line-height: 1.8;
                }
            }
            div:last-child{
                width: 66.6666%;
                max-width: 380px;
                padding: 20px 0;
                h4{
                    font-size: 1.25rem;
                    line-height: 1.8;
                    font-weight: 300;
                }
            }
        }
        >p{
            margin: 70px 0;
            text-align: center;
        }
    }
}
@media only screen and (max-width: 992px){
    .wdesc-container{
        .content{
            >div{
                flex-direction: column;
                div:first-child{
                    display:flex;
                    flex-wrap: wrap;
                    width:100%;
                    max-width: none;
                    p{
                        margin-right:10px;
                    }
                }
                div:last-child{
                    width:100%;
                    max-width: none;
                    h4{
                        font-size:18px;
                    }
                }
            }
            >p{
                text-align: left;
            }
        }
                
    }
}